[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  peigne.m Fichier
Type=Link
URL=https://prod.e-campus.cpe.fr/mod/resource/view.php?id=18314
Icon=text-html
